<div class="col-xs-12 col-sm-4" ng-controller="MailListingController">
    <h2>
        Sidebar
    </h2>
    <ul>
        <li ng-repeat="mail in email"
            ng-click="setSelectedMail(mail)"
        >
            <div class="email-listing"
                 ng-class="{selected: isSelected(mail)}"
            >
                <div class="col-xs-8">
                    from: {{ mail.from }}
                </div>
                <div class="col-xs-12">
                    to: {{ mail.to }}
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="col-xs-12 col-sm-8" ng-controller="ContentController">
  <h2>
      Content
  </h2>

    <div ng-if="!selectedMail">
        <h1>No conversation selected</h1>
    </div>
    <div ng-if="selectedMail">
        <div class="row header">
            <div class="col-sm-6">
                {{ selectedMail.subject }}
            </div>
            <div class="col-sm-6">
                {{ selectedMail.sent_at | date:'MM/dd/yy'}}
            </div>
        </div>
        <div class="row actions">
            <div class="col-sm-8">
                {{ selectedMail.from }} to {{ selectedMail.to }}
            </div>
            <a href="#" ng-click="showReply()" class="btn btn-primary">Reply</a>
        </div>
        <div class="col-xs-12">
            {{ selectedMail.body }}
        </div>
    </div>
</div>
